@import url(../../css/main/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

html { 
    font-family: 'Netflix Sans';
}
body { 
  background-color: black;
}

.preloader { 
  display: inline-block;
  width: 50px; 
  height: 50px;
  padding: 10px; 
  border-radius: 50%;
  animation: rotate 0.7s linear infinite;
  background: linear-gradient(90deg, white 0%, red 53%);
  margin: auto;
}

.preloader::after { 
  content: " ";
  background-color: white;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 50%;
  margin: 1px;
}

@keyframes rotate { 
  from { 
      transform: rotate(90deg);
  }
  to { 
      transform: rotate(450deg); /* Increased to complete two full rotations */
  }
}

// NAV-BAR
.nav-container {
  background-color: #000000;
  height: 100vh;
    .header-container {
        max-width: 720px;
        width: 720px;
        min-width: auto;
        height: 100%;
        .left-content {
            justify-content: flex-start;
            align-items: center;
          .help-center { 
            margin: 20px;
            color: white;
            p { 
              margin-right: 10px;
            }
            @apply
            sm:flex
            text-[16px]
            sm:text-[18px]
          }
          .help-center:hover { 
            text-decoration: underline;
            @apply
            cursor-pointer
          }
          .n-svg { 
            display: none;
          }
          @media (max-width: 640px) { 
            .n-svg { 
              @apply
              flex
              pl-4
            }
          }
          .netflix-svg { 
            display: none;
            @apply
            sm:flex
          }
          @apply
          block
          sm:flex
        }
        .right-content {
          .link-box { 
            .mobile-icon { 
              height: 25px;
              width: 25px;
            }
            a { 
              color: white;
              @apply
              font-extralight
            }
            a:hover { 
            text-decoration: underline;
            @apply
            cursor-pointer
            }
          @apply
          flex
          }
          .dropdown { 
            display: none;
            border-radius: 4px;
            flex-direction: column;
            padding: 16px;
            background-color: white;
            position: absolute;
            top: 65px;
            margin-left: -50px;
            right: 20px;
            border: 1px solid lightgrey;  
            a {
              @apply
              gap-2
              flex
              justify-start
              items-center
            }
            a:hover { 
              @apply
              underline
            }
          }
          @apply
          flex
          justify-end
          sm:items-center
        }       
        @apply
        relative
        flex
        justify-between
        pt-2
        sm:pt-0
    }
    @apply
    text-black  
    flex
    justify-center
    h-[98px]
    sm:h-[66px]
}
  
  
  // NOTIFICATION BAR
.notification-bar {
    background-color: #EAEAE6;
    display: flex;
    min-height: 80px;
    max-height: 128px;
    justify-content: center;
    border-bottom: 1px solid #d5d4d1;
    .notification-main {
        max-width: 720px;
        width: 720px;
        min-width: auto;
        display: flex;
        .notification-bell{
            display: flex;
            align-items: center;
        } 
        .notification-text {
            .notification-text-inner {
                flex-direction: column;
                margin-left: 10px;
  
                h3 { 
                  @apply
                  text-[16px]
                  font-semibold
                }
                
                p { 
                  @apply
                  font-light
                  text-[16px]
                }
            }
            @apply
            flex
            items-center
        }  
    }
}

// BODY SECTION
.body-container { 
  background-color: white;
  #header { 
    font-weight: 800;
    @apply
    text-[32px]
    md:text-4xl
    mb-8
  }
  .container-box { 
    .form-section {
      #sub-header { 
        font-weight: 700;
        @apply
        text-lg
      }
      .input-container { 
        border-radius: 4px;
        border: 1px solid rgb(213, 212, 209);
        .input-box { 
          input { 
            width: 95%;
            @apply
            outline-none
            border-none
          }
          #click-on { 
            display: none;
            svg { 
              fill: gray;
            }
          }
          @apply
          w-[97%]
          h-[100%]
          mx-3
          flex
          justify-between
        }
        @apply
        mt-2
        h-10
        min-w-[0px]
        max-w-[720px]
      }
      @apply
      mb-10
      px-[10px]
    }
    #quick-link-container { 
      p { 
        @apply
        text-lg
        font-bold
        mb-2
      }
      .links { 
        li { 
          display: flex;
          border-top: 1px solid #d5d4d1;
          svg { 
            @apply
            mt-1
            w-4
            h-4
          }
          a { 
            text-decoration: underline;
            @apply
            text-black
            text-[16px]
            ml-2
            font-bold
          }
          @apply
          list-none
          py-3
        }
        @apply
        min-w-[210px]
        max-w-[720px]
        w-[100%]
      }
      @apply
      flex
      flex-col
      items-start
      mx-[10px]
    }

    #quick-link-container-replacement { 
      p { 
        @apply
        text-lg
        font-bold
        pb-6
      }
      .links-replacement { 
        li { 
          display: flex;
          border-bottom: 1px solid #d5d4d1;
          svg { 
            @apply
            mt-1
            mr-2
            w-6
            h-6
          }
          a { 
            span { 
              @apply
              underline
              text-lg
              font-bold
              w-[100%]
            }
            small { 
              color: rgba(0, 0, 0, 0.7);
              @apply
              text-[16px]
              w-[100%]
            }
            @apply
            w-[100%]
          }
          a:hover { 
            span { 
              color: rgba(0, 0, 0, 0.7);
            }
            small { 
              @apply
              underline
            }
          }
          @apply
          pb-3
          mb-3
        }
        @apply
        min-w-[210px]
        max-w-[720px]
      }
      #contact-us { 
        .buttons-container { 
          .button { 
            background-color: rgba(0, 0, 0, 0.1);
            border-radius: 6px;
            span { 
              strong { 
                @apply
                text-[16px]
                text-black
              }
              small { 
                @apply
                text-[16px]
                text-black
              }
            }
            svg {
              @apply
              mr-4
            }
            @apply
            flex
            py-4
            px-6
            text-left
            min-w-[0px]
            max-w-[575px]
            sm:min-w-[281px]
            sm:max-w-[354px]
            sm:w-[100%]
          }
          @apply
          flex
          flex-col
          sm:flex-row
          gap-4
          w-[100%]
        }
        @apply
        w-[100%]
      }
      @apply
      flex
      flex-col
      items-start
      mx-[10px]
    }
    @apply
    min-w-[210px]
    max-w-[800px]
    mx-auto
    px-3
  }
  @apply
  pt-8
  pb-12
} 

// FOOTER SECTION
.footer-container { 
  background: #000000;
  background: linear-gradient(10deg, rgba(229, 9, 20, 0) 58%, rgb(229, 9, 20) 128%), #000;
  .footer-inner-container { 
    .footer-links { 
      .footer-link { 
        color: rgba(255, 255, 255, .7);
        @apply
        text-[14px]
        mb-4
        font-extralight
      }
      .footer-link:hover { 
        text-decoration: underline;
      }
      @apply
      mt-10
      absolute
    }
    @apply
    relative
    px-3
    min-w-[220px]
    max-w-[720px]
    mx-auto
  }
  @apply
  w-[100%]
  h-[220px]
  pb-12

}