@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    background-color:  #f5f5f1;
}

.hero-container {
    height: 660px;

    #hero-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-container {
        bottom: 660px; 
        position: relative;
        height: 80px;
        display: flex;
        justify-content: center;

        .header-main {
            width: 100%; 
            max-width: 1440px; 
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 30px;

            .header-left {
                display: flex;
                align-items: center;
            }
            
            .header-right {
                display: flex;
                align-items: center;
                margin-left: 30px;

                p {
                    padding: 0 20px; 
                    color: #ffffff;
                    font-size: 12px;

                    strong {
                        font-size: 16px;
                    }
                }

                svg {
                    height: 18px;
                    width: 18px;
                    color: #ffffff;
                }
            }
        }
    }

    .content-container {
        height: 270px;
        position: relative;
        bottom: 550px; 
        display: flex;
        justify-content: center;
        margin: 0 100px;

        .content-main {
            width: 100%; 
            max-width: 1200px; 

            h1 {
                color: #ffffff;
                font-size: 42px;
                font-weight: 700;
                padding-top: 40px;
                margin-bottom: 40px;

                @media (max-width: 800px) {
                    font-size: 24px;
                }
            }

            .button {
                padding: 19px 16px;
                border: 1px solid black;
                background-color: #ffffff;
              
                @media (min-width: 801px) {
                    width: 660px;
                }

                input[type=text] {
                    font-size: 32px;
                    border: none;
                    outline: none;
                    
                    @media (max-width: 800px) {
                        font-size: 16px;
                    }
                   
                }

                svg {
                    display: inline;
                    float: right;
                    position: relative;
                  
                    @media (min-width: 801px) {
                        top: 8px;
                    }
                    
                }
            }
        }
    }
}


@media (max-width: 1200px) {
    .hero-container .content-container {
        margin: 20px;
    }
}
.layout-container {
    display: flex;
    justify-content: center;
    background-color: #f5f5f1;

    margin: 54px 16px;
    
    .layout-main {
        width: 100%; /* Adjusted to full width */
        max-width: 1200px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        
        .layout1-left {
            padding: 64px;
            
            background-color: #ffffff;
            
            @media (min-width:1001px) {
                width: 720px;
                border-right: 20px solid #e50a13;
            }
            
            h2 {
                color: #221f1f;
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            
            p {
                font-weight: 300;
                margin-bottom: 27px;
            }
            
            .button-layout1 {
                padding: 10px 36px 10px 18px;
                background-color: red;
                color: #f5f5f1;
                font-size: 12px;
                width: 240px;
                font-weight: 600;
            }
        }
        
        .layout1-right {
            @media (max-width:1000px) {
                display: none;
            }
        }
        .layout2-left,
        .layout2-right {
            height: 100%;
        }
        
        .layout1-right img,
        .layout2-left img {
            object-fit: cover;
            height: 340px;
            width: 100%;
        }
        
        .layout2-left {
            width: 480px;
            @media (max-width:1000px) {
                display: none;
            }
            img {
                height: 392px; 

            }
        }
        
        .layout2-right {
            padding: 54px;
            background-color: #221f1f;
           
            
            h2 {
                color: #ffffff;
                font-size: 32px;
                font-weight: 700;
                margin-bottom: 16px;
            }
            
            p {
                font-weight: 300;
                margin-bottom: 20px;
                color: #ffffff;
            }
            
            .button-layout2 {
                padding: 10px 36px 10px 18px;
                background-color: red;
                color: #f5f5f1;
                font-size: 12px;
                width: 180px;
                font-weight: 600;
                display: flex;
                align-items: center;
                align-self: center;
                box-sizing: border-box;
            }
        }
        
        .content-text {
            padding: 27px;

            background-color: #ffffff;
            
            h4 {
                font-size: 14px;
                border-left: 1px solid red;
                padding-left: 10px;
                margin-bottom: 16px;
            }
            
            h3 {
                font-size: 32px;
                font-weight: bold; /* Changed 'bolder' to 'bold' */
                color: #221f1f;
                margin-bottom: 16px;
            }
            
            p {
                margin-bottom: 20px;
            }
            
            .button {
                padding: 10px 36px 10px 18px;
                background-color: red;
                color: #f5f5f1;
                font-size: 12px;
                width: 138px;
                font-weight: 600;
            }
        }
    }
}

.footer-container {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    .footer-main {
        width: 1440px;
        max-width: 1440px;
        height: 100%;
        justify-content: space-between;
        padding: 27px;
        @media (min-width:800px) {
            display: flex;
        }
        .footer-right {
            display: flex;
            @media (min-width:801px) {
                justify-content: flex-end;
            }
            @media (max-width:800px) {
                width: 50%;
            }
        }
        .footer-left {
            @media (max-width:800px) {
                display: flex;
                flex-direction: column-reverse;
            
            }
            .footer-logo-top {
                display: flex;
                justify-content: space-between;
                
              
                @media (min-width:801px) {
                    margin-bottom: 16px;
                    justify-content: flex-end;
                }
                svg{
                    height: 34px;
                    width: 43px;
                }
            }
            .footer-sub-bottom {
                font-size: 12px;
               
                ul {
                    display: flex;
                    color: #221f1f;
                    font-weight: 200;
                    @media (max-width:800px) {
                        align-items: flex-end;
                        flex-direction: column;
                      }
                    li {
                        margin: 0px 16px;
                        @media (max-width:800px) {
                            margin-bottom: 16px;
                        }
                    }
                    li:first-child{
                        font-weight: 700;
                    }
                    li:last-child {
                        margin-right: 0;
                    } 
                    
                }
            }
        }
    }
}



