@import url(../../css/main/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-family: "Netflix Sans";
}

.nav-container {
  background-color: white;
  @apply text-black  
  flex
  justify-center
  h-[98px]
  sm:h-[66px];
}
.nav-container .header-container {
  max-width: 1248px;
  width: 1248px;
  min-width: auto;
  height: 100%;
  @apply px-2
      flex
      justify-between
      pt-2
      sm:pt-0;
}
.nav-container .header-container .left-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  @apply block
        sm:flex;
}
.nav-container .header-container .left-content .help-center {
  font-size: 18px;
  margin: 20px;
  color: #221f1f;
  @apply sm:flex
            text-[16px]
            sm:text-[18px]
            font-semibold
            sm:font-light;
}
.nav-container .header-container .left-content .help-center p {
  margin-right: 10px;
}
.nav-container .header-container .left-content .help-center:hover {
  text-decoration: underline;
  color: #808080;
  @apply cursor-pointer;
}
.nav-container .header-container .left-content .n-svg {
  display: none;
}
@media (max-width: 640px) {
  .nav-container .header-container .left-content .n-svg {
    @apply flex
            pl-4;
  }
}
.nav-container .header-container .left-content .netflix-svg {
  display: none;
  @apply sm:flex;
}
.nav-container .header-container .right-content {
  @apply flex
        justify-end
        sm:items-center;
}
.nav-container .header-container .right-content .link-box {
  @apply flex;
}
.nav-container .header-container .right-content .link-box .mobile-icon {
  height: 25px;
  width: 25px;
}
.nav-container .header-container .right-content .link-box a {
  color: black;
  @apply font-light;
}
.nav-container .header-container .right-content .link-box a:hover {
  text-decoration: underline;
  @apply cursor-pointer;
}
.nav-container .header-container .right-content .dropdown {
  display: none;
  border-radius: 4px;
  flex-direction: column;
  padding: 16px;
  background-color: white;
  position: absolute;
  top: 65px;
  margin-left: -50px;
  right: 20px;
  border: 1px solid lightgrey;
}
.nav-container .header-container .right-content .dropdown a {
  @apply gap-2
            flex
            justify-start
            items-center;
}
.nav-container .header-container .right-content .dropdown a:hover {
  @apply underline;
}

.notification-bar {
  background-color: #EAEAE6;
  height: 80px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #d5d4d1;
}
.notification-bar .notification-main {
  max-width: 1248px;
  width: 1248px;
  min-width: auto;
  height: 100%;
  display: flex;
}
.notification-bar .notification-main .notification-bell {
  display: flex;
  align-items: center;
}
.notification-bar .notification-main .notification-text {
  @apply flex
          items-center;
}
.notification-bar .notification-main .notification-text .notification-text-inner {
  flex-direction: column;
  margin-left: 10px;
}
.notification-bar .notification-main .notification-text .notification-text-inner h3 {
  @apply text-[16px];
}
.notification-bar .notification-main .notification-text .notification-text-inner p {
  @apply font-light
                text-[16px];
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 12px;
  @apply relative
  h-[816px];
}
.search-container .detail-container {
  margin: 20px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-container .detail-container .title {
  font-size: 40px;
  @apply block;
}
.search-container .detail-container .input-box {
  border-radius: 4px;
  background: linear-gradient(to right, #e50914 -0.08%, #c94ff5 81.14%, #5b79f1 99.92%);
  width: 100%;
  @apply flex
      h-[42px]
      relative
      my-6
      p-[2px]
      shadow-lg;
}
.search-container .detail-container .input-box .input-container {
  height: 100%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.search-container .detail-container .input-box .input-container svg {
  @apply absolute
          m-1
          pt-1
          pl-2;
}
.search-container .detail-container .input-box .input-container input {
  padding-left: 50px;
  padding-top: 5px;
  width: 100%;
  @apply h-[30px]
          max-w-[300px]
          border-none
          outline-none
          text-[16px];
}
.search-container .detail-container .recommendation {
  color: rgba(0, 0, 0, 0.7019607843);
  @apply text-center
      mx-1
      h-12
      max-w-[600px]
      font-bold;
}
.search-container .detail-container .recommendation span {
  text-decoration: underline;
  @apply font-light;
}
.search-container .detail-container .recommendation span:hover {
  @apply text-black
        cursor-pointer;
}

.explore-container {
  @apply w-[100%]
  mb-12;
}
.explore-container #explore-text {
  text-align: center;
  font-weight: 700;
  @apply pt-4
    text-[16px]
    mb-2;
}
.explore-container #explore-arrow {
  @apply flex
    justify-center;
}

.outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.outer-container .container {
  display: flex;
  justify-content: center;
}
.outer-container .container .accordion-box {
  position: relative;
  display: flex;
  flex-direction: column;
  @apply mx-3
      pb-3;
}
.outer-container .container .accordion-box .header-accordion {
  display: flex;
  border-bottom: 1px solid #d5d4d1;
  @apply flex
        items-center
        pt-[6px]
        pb-[16px]
        pl-3
        mx-2
        text-lg;
}
.outer-container .container .accordion-box .header-accordion p {
  @apply p-2;
}
.outer-container .container .accordion-box .accordion-container {
  border-radius: 7px;
  border: 1px solid #d5d4d1;
  margin-bottom: 16px;
  @apply overflow-hidden
        max-w-[600px]
        min-w-[220px];
}
.outer-container .container .accordion-box .accordion-container .accordion {
  transition: 0.4s;
  border: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  @apply cursor-pointer
          w-[100%]
          bg-white
          p-4
          text-[15px];
}
.outer-container .container .accordion-box .accordion-container .accordion p {
  @apply font-bold;
}
.outer-container .container .accordion-box .accordion-container .accordion .icon > svg {
  width: 100%;
  height: 100%;
}
.outer-container .container .accordion-box .accordion-container .accordion .icon {
  @apply h-6
            w-6;
}
.outer-container .container .accordion-box .accordion-container .active .icon > svg {
  transition: transform 0.1s ease-in-out;
}
.outer-container .container .accordion-box .accordion-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.outer-container .container .accordion-box .accordion-content .accordion-item li {
  list-style: none;
  font-size: 16px;
  display: flex;
  margin-bottom: 16px;
}
.outer-container .container .accordion-box .accordion-content .accordion-item li svg {
  width: 16px;
  height: 24px;
  margin-right: 5px;
}
.outer-container .container .accordion-box .accordion-content .accordion-item li a {
  color: black;
}

.container-box {
  display: flex;
  justify-content: center;
  @apply mb-[65px];
}
.container-box .container-link {
  @apply min-w-[0px]
    max-w-[600px]
    w-[630px]
    mx-3;
}
.container-box .container-link .quick-link-container {
  @apply flex
      flex-col
      items-start
      mx-[10px];
}
.container-box .container-link .quick-link-container p {
  @apply text-lg
        font-bold
        mb-2;
}
.container-box .container-link .quick-link-container .links {
  @apply min-w-[0px]
        max-w-[600px]
        w-[100%];
}
.container-box .container-link .quick-link-container .links li {
  border-top: 1px solid #d5d4d1;
  @apply list-none
          py-3
          flex;
}
.container-box .container-link .quick-link-container .links li svg {
  @apply mt-1
            w-4
            h-4;
}
.container-box .container-link .quick-link-container .links li a {
  @apply text-black
            text-[16px]
            ml-2
            font-bold;
}

.question-box {
  height: auto;
  @apply flex
  justify-center;
}
.question-box .container-help {
  justify-content: center;
  height: auto;
  @apply w-[600px]
    text-center
    pb-10;
}
.question-box .container-help .need-help-title {
  font-size: 20px;
  margin-bottom: 20px;
}
.question-box .container-help .contact-us {
  font-size: 16px;
  width: 216px;
  height: 48px;
  border-radius: 4px;
  @apply text-white
        bg-black
        px-3
        py-3
        border-none;
}

.footer-container {
  background-color: #fafafa;
  @apply pt-16
  pb-12
  px-3;
}
.footer-container .footer-inner-container {
  @apply flex
    justify-center;
}
.footer-container .footer-inner-container .footer-links {
  width: 70%;
}
.footer-container .footer-inner-container .footer-links .link {
  color: rgba(0, 0, 0, 0.7019607843);
  @apply text-sm
        block
        mb-4;
}
.footer-container .footer-inner-container .footer-links .link:hover {
  @apply underline;
}

/*# sourceMappingURL=help_center.css.map */
