@import url(../main/font.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: #fff;
}

.netflix-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
}
.netflix-nav .nav-container {
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 599px) {
  .netflix-nav .nav-container {
    padding: 24px;
  }
}
@media (min-width: 600px) and (max-width: 1279px) {
  .netflix-nav .nav-container {
    padding: 24px 32px;
  }
}
@media (min-width: 1280px) {
  .netflix-nav .nav-container {
    padding: 24px 48px;
  }
}
.netflix-nav .nav-container .logo {
  z-index: 1;
  width: 100px;
}
.netflix-nav .nav-container .button-part {
  width: 77px;
  height: 28px;
  background-color: red;
  border-radius: 0.1875rem;
  text-align: center;
  position: relative;
}

.content-part {
  position: relative;
  height: 700px;
  width: 100%;
}
.content-part .hero-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.content-part .hero-content .hero-content-content {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  min-width: 330px;
}
.content-part .hero-content .hero-content-content * {
  width: 100%;
  height: auto;
  text-align: center;
}
.content-part .hero-content .hero-content-content h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}
@media (max-width: 960px) {
  .content-part .hero-content .hero-content-content h1 {
    font-size: 36px;
  }
}
.content-part .hero-content .hero-content-content h3 {
  font-size: 18px;
  margin: 16px 0px 0px;
  text-align: center;
}
.content-part .hero-content .hero-content-content p {
  font-size: 18px;
  margin: 16px 0px;
}
@media (min-width: 620px) {
  .content-part .hero-content .email-signup-part {
    display: flex;
  }
}
@media (max-width: 619px) {
  .content-part .hero-content .email-signup-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.content-part .hero-content .email-signup-part .input-email {
  justify-content: center;
  flex-grow: 1;
  border: 2px solid gray;
  border-radius: 4px;
}
.content-part .hero-content .email-signup-part .input-email input {
  width: 368px;
  height: 100%;
  background: none;
  padding: 15px 16px 15px;
  border-radius: 4px;
  outline: 2px solid white;
}
@media (max-width: 400px) {
  .content-part .hero-content .email-signup-part .input-email input {
    width: 250px;
  }
}
.content-part .hero-content .email-signup-part .getstarted-button {
  margin-left: 10px;
  padding: 12px 24px;
  border: 1px solid black;
  background-color: red;
  font-size: 20px;
  font-weight: 700;
  text-wrap: nowrap;
  display: flex;
  cursor: pointer;
}
.content-part .hero-content .email-signup-part .getstarted-button span {
  position: relative;
  top: 3px;
}
@media (max-width: 619px) {
  .content-part .hero-content .email-signup-part .getstarted-button {
    width: 173px;
    margin-top: 10px;
  }
}
.content-part .background-cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.content-part .background-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout1-container {
  display: flex;
  justify-content: center;
  padding: 72px 0;
}
.layout1-container .layout1-main {
  width: 1080px;
  display: flex;
  margin: 0px 32px;
}
@media (max-width: 1100px) {
  .layout1-container .layout1-main {
    flex-direction: column;
    justify-content: center;
  }
}
.layout1-container .layout1-main .left-side {
  display: flex;
  flex-direction: column;
  align-self: center;
}
@media (max-width: 1100px) {
  .layout1-container .layout1-main .left-side {
    align-items: center;
    text-align: center;
  }
}
.layout1-container .layout1-main .left-side h2 {
  font-size: 48px;
  font-weight: 1000;
}
@media (max-width: 390px) {
  .layout1-container .layout1-main .left-side h2 {
    font-size: 32px;
  }
}
.layout1-container .layout1-main .left-side p {
  font-size: 24px;
  margin-top: 16px;
}
@media (max-width: 390px) {
  .layout1-container .layout1-main .left-side p {
    font-size: 18px;
  }
}
.layout1-container .layout1-main .right-side {
  height: 480px;
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
}
@media (max-width: 1100px) {
  .layout1-container .layout1-main .right-side {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .layout1-container .layout1-main .right-side {
    height: 256px;
  }
}
.layout1-container .layout1-main .right-side .img-background {
  background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}
@media (max-width: 500px) {
  .layout1-container .layout1-main .right-side .img-background {
    width: 100%;
  }
}
.layout1-container .layout1-main .right-side .img-background .video {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  align-self: center;
  z-index: -1;
}
.layout1-container .layout1-main .right-side .img-background .video video {
  object-fit: contain;
  width: 100%;
  height: 100%;
  overflow-clip-margin: content-box;
}

.line {
  height: 6px;
  background-color: rgb(35, 35, 35);
}

.layout2-container {
  display: flex;
  justify-content: center;
  padding: 72px 0;
}
.layout2-container .layout2-main {
  width: 1080px;
  display: flex;
  margin: 0px 32px;
}
@media (max-width: 1100px) {
  .layout2-container .layout2-main {
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.layout2-container .layout2-main .left-side {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .layout2-container .layout2-main .left-side {
    display: flex;
    justify-content: center;
  }
}
.layout2-container .layout2-main .left-side img {
  height: 100%;
  width: 100%;
}
@media (max-width: 1100px) and (min-width: 800px) {
  .layout2-container .layout2-main .left-side img {
    height: 100%;
    width: 50%;
  }
}
.layout2-container .layout2-main .left-side .sub-img-container {
  padding: 8px 12px;
  border: 2px solid gray;
  border-radius: 0.75rem;
  display: flex;
  width: 310px;
  position: absolute;
  bottom: 0px;
  background-color: black;
}
@media (max-width: 1100px) and (min-width: 901px) {
  .layout2-container .layout2-main .left-side .sub-img-container {
    width: 250px;
  }
}
@media (max-width: 900px) and (min-width: 801px) {
  .layout2-container .layout2-main .left-side .sub-img-container {
    width: 200px;
  }
}
@media (max-width: 800px) and (min-width: 700px) {
  .layout2-container .layout2-main .left-side .sub-img-container {
    width: 350px;
  }
}
@media (max-width: 570px) and (min-width: 531px) {
  .layout2-container .layout2-main .left-side .sub-img-container {
    width: 280px;
  }
}
@media (max-width: 530px) and (min-width: 450px) {
  .layout2-container .layout2-main .left-side .sub-img-container {
    width: 250px;
  }
}
@media (max-width: 450px) and (min-width: 390px) {
  .layout2-container .layout2-main .left-side .sub-img-container {
    width: 200px;
  }
}
@media (max-width: 390px) {
  .layout2-container .layout2-main .left-side .sub-img-container {
    width: 180px;
  }
}
.layout2-container .layout2-main .left-side .sub-img-container .sub-img {
  height: 72px;
  width: 52px;
}
.layout2-container .layout2-main .left-side .sub-img-container .sub-img img {
  height: 100%;
  width: 100%;
}
.layout2-container .layout2-main .left-side .sub-img-container .content-text {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.layout2-container .layout2-main .left-side .sub-img-container .first-text {
  font-weight: 700;
  font-size: 16px;
}
.layout2-container .layout2-main .left-side .sub-img-container .second-text {
  font-size: 14px;
  color: #0071eb;
}
.layout2-container .right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.layout2-container .right-side h2 {
  font-size: 48px;
  font-weight: 1000;
}
.layout2-container .right-side p {
  font-size: 24px;
  font-weight: 500;
}
@media (max-width: 1100px) {
  .layout2-container .right-side {
    align-self: center;
    text-align: center;
    width: auto;
  }
  .layout2-container .right-side h2 {
    font-size: 32px;
  }
  .layout2-container .right-side p {
    font-size: 18px;
  }
}

.layout3-container {
  display: flex;
  justify-content: center;
  padding: 72px 0;
}
.layout3-container .layout3-main {
  width: 1080px;
  display: flex;
  margin: 0px 32px;
}
@media (max-width: 1100px) {
  .layout3-container .layout3-main {
    justify-content: center;
    text-align: center;
  }
}
.layout3-container .layout3-main .left-side {
  width: 100%;
}
.layout3-container .layout3-main .left-side img {
  width: 100%;
}
@media (min-width: 1101px) {
  .layout3-container .layout3-main .left-side {
    width: 50%;
    padding-left: 150px;
  }
}
.layout3-container .layout3-main .left-side h2 {
  font-size: 48px;
  font-weight: 700;
  text-wrap: wrap;
}
@media (max-width: 1100px) {
  .layout3-container .layout3-main .left-side h2 {
    font-size: 32px;
  }
}
.layout3-container .layout3-main .left-side p {
  font-size: 24px;
}
@media (max-width: 1100px) {
  .layout3-container .layout3-main .left-side p {
    font-size: 16px;
  }
}
.layout4-container {
  display: flex;
  justify-content: center;
  padding: 72px 0;
}
.layout4-container .layout4-main {
  width: 1080px;
  display: flex;
  margin: 0px 32px;
}
@media (max-width: 1100px) {
  .layout4-container .layout4-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }
}
.layout4-container .layout4-main .left-side {
  width: 100%;
  display: flex;
  justify-content: center;
}
.layout4-container .layout4-main .right-side {
  width: 100%;
  align-self: center;
}
.layout4-container .layout4-main .right-side h2 {
  font-size: 48px;
  font-weight: 700;
}
@media (max-width: 1100px) {
  .layout4-container .layout4-main .right-side h2 {
    font-size: 32px;
  }
}
.layout4-container .layout4-main .right-side p {
  font-size: 24px;
}
@media (max-width: 1100px) {
  .layout4-container .layout4-main .right-side p {
    font-size: 16px;
  }
}

.layout5-container {
  display: flex;
  justify-content: center;
  padding: 72px 0;
}
.layout5-container .layout5-main {
  width: 1080px;
  display: flex;
  margin: 0px 32px;
  flex-direction: column;
  align-items: center;
}
.layout5-container .layout5-main h2 {
  font-size: 48px;
  font-weight: 900;
}
.layout5-container .layout5-main .layout5-box {
  width: 100%;
}
.layout5-container .layout5-main .layout5-box .layout5-box-inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  background-color: #2d2d2d;
  margin: 8px 0px;
  transition: 0.4s;
}
.layout5-container .layout5-main .layout5-box .layout5-box-inner h3 {
  font-size: 24px;
}
.layout5-container .layout5-main .layout5-box .layout5-box-inner svg {
  transition: transform 0.2s ease-in-out;
}
.layout5-container .layout5-main .layout5-box .panel {
  padding: 0px;
  max-height: 0;
  background-color: #2d2d2d;
  margin-top: -4px;
  overflow: hidden;
  transition: max-height 0.2s ease-out, padding 0.2s ease-out;
}
@media (max-width: 500px) {
  .layout5-container .layout5-main .layout5-box .panel {
    overflow-y: scroll;
  }
}
.layout5-container .layout5-main .layout5-box .panel p {
  font-size: 18px;
  text-align: left;
}
.layout5-container .layout5-main p {
  margin: 20px 0;
  text-align: center;
}
@media (min-width: 620px) {
  .layout5-container .layout5-main .email-signup-part {
    display: flex;
  }
}
@media (max-width: 619px) {
  .layout5-container .layout5-main .email-signup-part {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.layout5-container .layout5-main .email-signup-part .input-email {
  padding: 15px 16px 15px;
  justify-content: center;
  flex-grow: 1;
  border: 1px solid gray;
}
.layout5-container .layout5-main .email-signup-part .input-email input {
  width: 368px;
  height: 100%;
  background: none;
}
@media (max-width: 400px) {
  .layout5-container .layout5-main .email-signup-part .input-email input {
    width: 250px;
  }
}
.layout5-container .layout5-main .email-signup-part .getstarted-button {
  margin-left: 10px;
  padding: 12px 24px;
  border: 1px solid black;
  background-color: red;
  font-size: 20px;
  font-weight: 700;
  text-wrap: nowrap;
  display: flex;
}
.layout5-container .layout5-main .email-signup-part .getstarted-button p {
  margin: 0;
}
.layout5-container .layout5-main .email-signup-part .getstarted-button span {
  position: relative;
  top: 3px;
}
@media (max-width: 619px) {
  .layout5-container .layout5-main .email-signup-part .getstarted-button {
    width: 173px;
    margin-top: 10px;
  }
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 72px 0;
}
.footer-container .footer-main {
  width: 1080px;
  display: flex;
  margin: 0px 32px;
  flex-direction: column;
}
.footer-container .footer-main .footer-inner {
  display: flex;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7019607843);
}
.footer-container .footer-main .footer-inner ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  font-size: 14px;
}
.footer-container .footer-main .footer-inner ul li {
  margin-bottom: 10px;
  text-decoration: underline;
}
@media (max-width: 960px) {
  .footer-container .footer-main .footer-bg {
    display: none;
  }
}
@media (min-width: 961px) {
  .footer-container .footer-main .footer-sm {
    display: none;
  }
}

/*# sourceMappingURL=Landing_page.css.map */
